<div class="race-panel">
  <aside class="race-controls">
    {{#each raceDurations as |duration|}}
      {{md-btn
          text=(concat duration " SEC.")
          buttonType="large"
          class="race-button cyan darken-2"
          isDisabled=(or raceTask.isRunning (gte duration classTimeRemaining))
          action=(perform raceTask duration)}}
    {{/each}}
  </aside>
  <section class="race-display">
    {{#if raceTask.isRunning}}
      <span class="race-countdown">{{countdown}}</span>
    {{else if (lt minRaceDuration classTimeRemaining)}}
      Start a race...
    {{else}}
      Cooldown...
    {{/if}}
  </section>
</div>
