<section>
  {{class-panel duration=60 class-over=(route-action "showStats")}}
  <div class="class-controls">
    {{#link-to "index"}}
      {{md-btn text="Abort Class" class="brown lighten-4 black-text"}}
    {{/link-to}}
  </div>
</section>
