<section>
  <h1>Congrats!</h1>
  <h2>You barely broke a sweat!</h2>
  {{#link-to "index"}}
    {{md-btn text="Back to Start" class="cyan darken-2 white-text" buttonType="large"}}
  {{/link-to}}
</section>
